.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to right, white 0%, #33ccff 100%);
  padding: 4vh;
}

.signin-container {
  background-color: skyblue;
  background: linear-gradient(to bottom, #33ccff 0%, #33ccff 100%);
  width: 50%;
  padding: 1vh;
}

.image-container {
  width: 40%;
}

h2 {
  text-align: center;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10vw;
  padding-top: 1vh;
}

.image-container {
  width: 50%;
  background-color: white;
}

.input {
  padding: 10px;
  border-radius: 20px;
  width: 70%;
}

.remember-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}

.remember-container > .checkbox {
  margin: 0;
}

.button {
  padding: 10px;
  border-radius: 20px;
  width: 75%;
  background-color: lightgreen;
}